<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.1.3/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet" />
    <link href="/css/jass.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Welcome to Online Comic Store</title>
</head>

<body>
    <header class="display-flex justify-space-between align-center p-2">
        <h1>
            <a href="/"><img class="logo" src="/images/Comic_Logo.png"/></a>
        </h1>

        <nav>
            {{#if logged_in}}
            <a href="#" class="nav-item" data-userid="{{user_id}}" id="logout">
                <span class="item-text">Logout</span>
                <i class="fas fa-sign-out-alt"></i>
            </a>
            {{else}}
            <a href="/login" class="nav-item" id="login">
                <span class="item-text">Login</span>
                <i class="fa-solid fa-user"></i>
            </a>
            {{/if}}
            <a href="#" class="nav-item" id="checkout">
                <span class="item-text">Checkout</span>
                <i class="fas fa-shopping-cart"></i>
            </a>
        </nav>
    </header>

    {{{body}}}

    <footer class="display-flex align-center p-1">
        <p>
            © 2022, Comic World Ltd.
        </p>
    </footer>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>

</html>