/* declare variables */
:root {
/*    --theme-color-1: rgba(17, 20, 198, 0.784); */
    --theme-color-1: rgba(122, 16, 114, 0.784); 
    --theme-color-2: rgb(221, 222, 234);  
    --theme-color-3: rgba(231, 232, 242, 0.784);   
    --theme-color-4: rgb(26, 22, 22); 
}

/* styles for home page */
* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    background-color: var(--theme-color-3);
}

header {
    background-color: var(--theme-color-1);
    border-bottom: 5px solid var(--theme-color-2); 
}

h1 {
    margin: 2%; 
    font-size: 300%;
}

a {
    color: var(--theme-color-3); 
    text-decoration: none;
    text-align: center;
}

a:hover {
    color: var(--theme-color-4); 
}

nav{
    width: 230px; 
}

.nav-item{
    padding-left: 5%;
}

#order-count{
    position:relative; 
    top: -8px; 
    left: -3px; 
    font-size: 80%;
    font-weight: bolder;
    background-color: var(--theme-color-3);
    color: var(--theme-color-1); 
    padding: 1.5% 3%; 
    border-radius: 50%;
    margin: 0%;
}

i{
    padding-left: 2%; 
}

#home-banner {
    height: 300px; 
    background-image: url('../images/comic-banner.jpg');
    border-bottom: 5px solid var(--theme-color-2); 
}

#search-section {
    display:flex; 
}

#search-button {
    height: 36px;
}

.container {
    padding: 0; 
    margin: 3%;
}

h2 {
    color: var(--theme-color-4); 
    margin-top: 1%; 
}

.logo {
    height: 2.2em;
    border: 3px solid white;
    border-radius: 5px; 
}

.logo:hover {
    cursor: pointer; 
}

.scrolling-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
  
.card {
    height: 350px; 
    width: 220px; 
    margin: 1.5%; 
    flex: 0 0 auto;
}

.card img{
    border-radius: 4px;
}

.card img:hover {
    cursor: pointer; 
}

.btn {
    background-color: var(--theme-color-1); 
    color: var(--theme-color-2);
    border-radius: 2px;
}

.btn:hover {
    color: var(--theme-color-4);
}

footer {
    background-color: var(--theme-color-1);
    border-top: 5px solid var(--theme-color-2); 
    justify-content: center;
}

footer p {
    margin: 2%; 
    color: var(--theme-color-3); 
}

/* style for product details page */
#product-detail {
    display: flex; 
}

#detail-card {
    height: auto; 
    width: 22%; 
    margin: 4%; 
}

#detail-content {
    width: 37%; 
    margin: 4%;
}

#detail-title {
    margin: 2% 0%; 
}

#detail-content p {
    font-size: 100%; 
    line-height: 1.2;
}

#desc-box {
    border: 2px solid var(--theme-color-2); 
    padding: 2%; 
    border-radius: 5px;
    box-shadow: 3px 2px 1px 1px var(--theme-color-3);
}

#review-title{
    margin-left: 4%;
}

#review-content {
    width: 60%; 
    margin: 0% 4% 2% 4%;
    border: 2px solid var(--theme-color-2); 
    padding: 1.5%; 
    border-radius: 5px;
    box-shadow: 3px 2px 1px 1px var(--theme-color-3);
}

#review-item{
    margin: 1%;  
    border-bottom: 1px solid var(--theme-color-4);
}

#add-review-box{
    width: 60%; 
    margin-left: 4%; 
}

#review-text {
    margin: 3% 0%; 
}

/* styles for checkout page */
#quantity-box {
    width:40px;
    height:42px;
}

/* responsive styles */
@media screen and (max-width: 985px) {  
    #detail-card {
        width: 32%; 
    }

    #detail-content {
        width: 52%; 
    }

    #review-content {
        width: 92%;
    }

    #add-review-box {
        width: 92%; 
    }
}

@media screen and (max-width: 768px) {
    h1 {
        margin: 2%; 
        font-size: 200%;
    }

    .item-text{
        display: none; 
    }

    #order-count{
        font-size: 70%;
        padding: 1.2% 5%; 
    }

    nav{
        width: 70px; 
    }

    #home-banner {
        height: 200px; 
    }

    .card {
        height: 290px; 
        width: 190px; 
    }
}

@media screen and (max-width: 560px) {
    #product-detail {
        display: block; 
    }

    #detail-card {
        width: 50%; 
    }    
    
    #detail-content {
        width: 92%; 
    }

    #review-content {
        width: 92%;
    }

    #add-review-box {
        width: 92%; 
    }
}